# Node modules
node_modules/

# Local docker volume
n8n_data/

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform directories
.terraform/

# Terraform lock file (optional)
.terraform.lock.hcl

# IDE and OS-specific files
.DS_Store
Thumbs.db
*.swp
*.swo
*.idea/
*.vscode/

# Log files
*.log

# Backup files
*~